@charset "UTF-8";
@use "variables" as var;

body {
    background-color: var.$backGray;
    color: white;
}

.navbar {
    position: fixed;
    width: 100%;
}

#header {
    padding: {
        top: var.$navHeight;
    }
    background-color: var.$contColor;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 60px;
        letter-spacing: 10px;
    }

    p {
        font: {
            size: 25px;
            weight: bold;
        }
    }
}

.container {
    margin: {
        top: 50px;
    }
    padding: {
        top: 10px;
        bottom: 20px;
        left: 40px;
        right: 40px;
    }
    background-color: var.$contColor;
    min-height: 200px;
    h1 {
        margin: {
            bottom: 20px;
        }
        font-size: 45px;
        text-align: center;
    }
    @media screen and (min-width: 576px) {
        border-radius: 5px;
    }
}

#skill {
    .row {
        justify-content: center;
    }
}

.table {
    max-width: 1000px;
    color: white;
    tr {
        :first-child {
            width: 200px;
        }
    }
    td {
        border: {
            color: var.$backGray; 
        };
    }
}

.card {
    color: black;
}

.card-body {
    padding: {
        top: 10px;
    }
    text-align: center;
}

.card-img-top {
    margin: {
        top: 10px;
    };
    width: auto;
    height: 260px;
    object-fit: contain;
}

.card-title {
    margin: {
        bottom: 15px;
    }
    font-size: 25px;
}

.card-text {
    margin: {
        bottom: 5px;
    }
}

.card-skill {
    margin: {
        top: 20px;
        bottom: 25px;
    }
}

.card-link {
    margin: {
        bottom: 5px;
    }
}

.address {
    * {
        text-align: center;
    }
    i {
        margin: {
            bottom: 10px;
        }
        font-size: 25px;
    }
    p {
        margin: {
            bottom: 30px;
        }
        font-size: 18px;
    }
}

footer {
    padding: {
        top: 50px;
        bottom: 20px;
    }
    text-align: center;
}
